<%= render "errors"%>
<%# <%= render partial: 'article/article', collection: @articles %>
<%= form_for @user,local: true, html: { class: "containerForm" } do |f| %>
    <h1>Crear una cuenta</h1>
    <div class="form_sesion">
        <div>
            <%= f.label :name %>
            <%= f.text_field :name %>
        </div>
        <div>
            <%= f.label :phone %>
            <%= f.text_field :phone %>
        </div>
        <div>
            <%= f.label :email %>
            <%= f.email_field  :email %>
        </div>
        <div>
            <%= f.label :password %>
            <%= f.password_field  :password %>
        </div>
    </div>
    
    <%= f.submit "Registrar" %>
    <div class="links">
        <a href="#">Ya tinenes cuenta iniciar Sesion</a>
        <a href="#">Olvide mi contraseña</a>
    </div>
<% end %>

